#body{
    background-color: blanchedalmond;
    border: black;
    
}
#crystal{
    display: flex;
    justify-content: space-around;  
    align-items: center;
}

#crystal{
    border: 1px seagreen;
    height: 200px;
    width: 200px;
}
