body{
    background-color: blanchedalmond;
    border: black;
}

#crystal{
    display: flex;
    align-content: center;
}

#crystal1{
    justify-content: space-around;  
    align-items: center;
    border: 1px seagreen;
    height: 200px;
    width: 200px;
    border-radius: 4px;
}

#crystal2{
    justify-content: space-around;  
    align-items: center;
    border: 1px seagreen;
    height: 150px;
    width: 150px;
    border-radius: 4px;
}

#crystal3{
    justify-content: space-around;  
    align-items: center;
    border: 1px seagreen;
    height: 150px;
    width: 150px;
    border-radius: 4px;
}

#crystal4{
    justify-content: space-around;  
    align-items: center;
    border: 1px seagreen;
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

#crystal:hover{
    box-shadow: 15px, 15px, 15px, 15px, rgba(0, 0, 0, 0.5);
    padding: 2px;
    cursor: pointer;
}

#img{
    width:50px;
}